<div class="row">
  <div class="col-12 mt-3">
    <h2>List of cities</h2>
  </div>
  <div *ngFor="let item of sData" class="col-2">
    <p-card><button>
      <div class="row">
        <!-- <div class="col-2"><img src="https://openweathermap.org/img/w/{{item.icon}}.png" width="60" alt="">
        </div> -->
        <div class="col-12">
          <h2><b><i> {{item.name}}, {{item.country}} </i></b> <img
              src="../../../../assets/flags/24x24/{{item.country}}.png" class="flag-align" alt="">{{item.description}}
          </h2>
        </div>
      </div>
<!-- 
      <div class="col-12"> <b>{{item.temp}}&deg;F <i>Temperature from {{item.temp_min}}&deg;F to
            {{item.temp_max}}&deg;F </i> </b>Wind <b> {{item.speed}} m/h Wind </b> </div> -->
          </button>
    </p-card>
  </div>
</div>

