.btn {
   /* align-content: center;  */
   text-align: center;

   border: blue solid;
   border-radius: 10px;
   width: 240px
}

.flag-align{
    margin-left: 10px;
}

.pText {
    font-size: 13px;
}

.btnConf{
    margin: -14px
}

.tempDisplay {
    border-radius: 3px;
    background-color:  lightskyblue
}

.frame{
    border-radius: 5px;
    border-color: blue;
    border-width: thick;
    transition: transform .2s;
}
.frame:hover {
    -ms-transform: scale(1.10); /* IE 9 */
    -webkit-transform: scale(1.10); /* Safari 3-8 */
    transform: scale(1.10); 
  }