<div class="container-fluid">
    <div class="row">
        <div class="col-12">Weather forecast</div>
        <div class="col-12">
                <div class="ui-g ui-fluid">
                        <div class="ui-g-12 ui-md-4">
                            <div class="ui-inputgroup">
                                <input type="text" pInputText placeholder="Keyword">
                                <button pButton type="button" label="Search"></button>         
                            </div>
                        </div>

        </div>
        <div class="col-12">

                <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Keyword" aria-label="keyword" aria-describedby="button-addon2">
                        <div class="input-group-append">
                          <button class="btn btn-primary" type="button" id="button-addon2">Search</button>
                        </div>
                      </div>

        </div>

    </div>
</div>



<p>
Launch component
Entry box

</p>

<p-panel >
    <p-header>
        Header content here
    </p-header>
    Body Content
    <p-footer>
        Footer content here
    </p-footer>
</p-panel>
