<div class="container">
  <div class="row">

    <!-- <div *ngIf="weatherData"> -->
    <div *ngIf="weatherData">
      <div class="col-12">
        <h2><b>Weather in </b></h2>
        <h2><b>{{weatherData?.name}}, {{weatherData?.country}} <img
              src="../../../../assets/flags/48x48/{{weatherData?.country}}.png" class="flag-align" alt=""></b></h2>
      </div>
      <div class="col-12">
        <h1>
          <img src="https://openweathermap.org/img/w/{{weatherData?.icon}}.png" width="60" alt="">
          {{weatherData?.temp}} &deg;F </h1>
      </div>
      <div class="col-12">
        <h5> <i>Temperature from {{weatherData?.temp_min}}&deg;F to {{weatherData?.temp_max}}&deg;F</i></h5>
      </div>
      <div class="col-12">
        <h5>{{weatherData?.description}}</h5>
      </div>
      <div class="col-12">{{weatherData?.dTime}} </div>
      <div class="row table mt-3">
        <div class="col-6"><b> Wind</b></div>
        <div class="col-6"><i>Speed</i> {{weatherData?.windSpeed}} m/h <br><i>Deg</i> {{weatherData?.windDeg}}&deg;
        </div>
        <div class="col-6"><b>Cloudiness</b></div>
        <div class="col-6">{{weatherData?.description}}</div>
        <div class="col-6"><b>Pressure</b></div>
        <div class="col-6">{{weatherData?.pressure}} hpa</div>
        <div class="col-6"><b>Humidity</b></div>
        <div class="col-6">{{weatherData?.humidity}}%</div>
        <div class="col-6"><b>Sunrise</b></div>
        <div class="col-6">{{weatherData?.sunrise}} PST</div>
        <div class="col-6"><b>Sunset</b></div>
        <div class="col-6">{{weatherData?.sunset}} PST</div>
        <div class="col-6"><b>Geo coords</b></div>
        <div class="col-6">{{weatherData?.lon}}, {{weatherData?.lat}} </div>
      </div>
    </div>
  </div>
</div>