<div class="container-fluid">
    <div class="row">
      <div class="col-12">Current waether and forecast in your selected city</div>
      <div class="row">
        <div class="col-4">
          <div class="row">
            <div class="col-12">Weather in MODESTO, US
              <img src="http://openweathermap.org/images/flags/us.png">
            </div>
            <div class="col-4">ICON</div>
            <div class="col-8">TEMP</div>
            <div class="col-12">Description</div>
            <div class="col-12">time Date</div>
            <div class="row">
              <div class="col-4">Wind</div>
              <div class="col-8"></div>
              <div class="col-4">Cloudiness</div>
              <div class="col-8"></div>
              <div class="col-4">Pressure</div>
              <div class="col-8"></div>
              <div class="col-4">Humidity</div>
              <div class="col-8"></div>
              <div class="col-4">Sunrise</div>
              <div class="col-8"></div>
              <div class="col-4">Sunset</div>
              <div class="col-8"></div>
              <div class="col-4">Geo coords</div>
              <div class="col-8"></div>
            </div>
          </div>
        </div>
        <div class="col-8">
          <div class="row">
            <div class="col-12">Map weather and forecast in CITY, COUNTRY</div>
            <div class="col-12">GRAPHIC</div>
          </div>
        </div>
      </div>
    </div>
  </div>
