<div class="container">

    <div class="row">
      <div class="col-4">
        <div class="row">
          <div class="col-12">
            <h2>Weather in {{weatherData.name}}, {{weatherData.sys.country}} </h2> 
            <img src="../../../../assets/flags/24x24/US.png" alt=""> </div> 

          <div class="div-12">
            <img src="https://openweathermap.org/img/w/{{weatherData.weather[0].icon}}.png" width="60" alt="">
            <h3>{{weatherData.main.temp}} F </h3>
          </div>
          <div class="col-12"> {{weatherData.weather[0].main}} </div>


          <div class="col-8"></div>
          <div class="col-4">Weather Description</div>
          <div class="col-8">{{weatherData.weather[0].description}}</div>
          <div class="col-8"></div>


          <div class="col-4">Coord Lon</div>
          <div class="col-8">{{weatherData.coord.lon}}</div>
          <div class="col-4">Coord Lat</div>
          <div class="col-8">{{weatherData.coord.lat}}</div>
          <div class="col-4">temp</div>

          <div class="col-4">Pressure</div>
          <div class="col-8">{{weatherData.main.pressure}}</div>
          <div class="col-4">Humidity</div>
          <div class="col-8">{{weatherData.main.humidity}}</div>
          <div class="col-8">{{weatherData.main.temp_min}}</div>
          <div class="col-8">{{weatherData.main.temp_max}}</div>
          <div class="col-4">Visibility</div>
          <div class="col-8">{{weatherData.visibility}}</div>
          <div class="col-8">{{weatherData.wind.speed}}</div>
          <div class="col-8">{{weatherData.wind.deg}}</div>

          <div class="col-4">Time</div>
          <div class="col-8">{{weatherData.dt}}</div>
          <div class="col-4">Sunrise</div>
          <div class="col-8">{{weatherData.sys.sunrise}}</div>
          <div class="col-4">Sunset</div>
          <div class="col-8">{{weatherData.sys.sunset}}</div>
          <div class="col-4">Time Zone</div>
          <div class="col-8">{{weatherData.timezone}}</div>

        </div>
      </div>
      <div class="col-8">
        <div class="row">
          <div class="col-12">Map weather and forecast in {{weatherData.name}}, {{weatherData.sys.country}} </div>
          <div class="col-12">GRAPHIC</div>
        </div>
      </div>
      <div></div>
    </div>
 
</div>
