<p-panel>
  <p-header>
    <h1>{{ title }}</h1>
  </p-header>
</p-panel>

<div class="container-fluid">
  <div class="row">
    <div class="col-3">
      <div class="row">
        <div class="col-12">
          <!-- <p-sidebar [(visible)]="visibleSidebar1" [baseZIndex]="10000">
                <h1 style="font-weight:normal">Search</h1>
            </p-sidebar> -->
          <app-search-bar></app-search-bar>
          <app-display-bar></app-display-bar>

        </div>
      </div>

    </div>
    <div class="col-9">
      <div class="row">
        <div class="col-5">
          <app-curr-detail></app-curr-detail>
        </div>
        <div class="col-7">GRAPHS</div>
        <div class="col-12">
          <app-forecast-display></app-forecast-display>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>