<p-panel>
  <p-header>
    <div class="row ">


      <div class="col-1 mt-3 text-align:center">
        <button (click)="toggleSideBar()">Toogle</button>
      </div>

      <div class="col-11 text-align:center">
        <h1>{{ title }}</h1>
      </div>
    </div>
  </p-header>
</p-panel>

<div class="container-fluid">
  <div class="row">

    <div *ngIf="display" class="col-3">
      <div class="row">
        <div class="col-12">
          <p-sidebar [(visible)]="display" [baseZIndex]="10000" autoZIndex="true" [showCloseIcon]="true"
            blockScroll="true">
            <h2 style="font-weight:normal">Search</h2>
            <app-enter-city-bar (searchString)="searchForCity($event)"></app-enter-city-bar>
            <app-display-search-cities [sData]="sData" (searchCityCurrWeather) = 'setCityValue($event)'></app-display-search-cities>
            <!-- <app-display-bar></app-display-bar> -->
          </p-sidebar>
        </div>
      </div>
    </div>
    <div class="col-9">
      <div class="row">
        <div class="col-5 mt-4">
          <!-- <app-curr-detail [wData]="weatherData"></app-curr-detail> -->
          <app-curr-detail></app-curr-detail>
        </div>
        <div class="col-7">GRAPHS</div>
        <div class="col-12">
          <app-forecast-display></app-forecast-display>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>