<p>
  forecast-display works!
</p>




{{fData[0]?.dt}}
{{fData[0]?.humidity}}
{{fData[0]?.icon}}
{{fData[0]?.id}}
{{fData[0]?.lat}}
{{fData[0]?.lon}}
{{fData[0]?.name}}
{{fData[0]?.polution}}
{{fData[0]?.pressure}}
{{fData[0]?.temp}}
{{fData[0]?.temp_max}}
{{fData[0]?.temp_min}}
{{fData[0]?.timezone}}
{{fData[0]?.weatherMain}}
{{fData[0]?.windDeg}}
{{fData[0]?.windSpeed}}

<h1>THIS IS THE DISPLAY ARR <br>

{{dailyWeatherArr[0].temp_max}} <br>
{{dailyWeatherArr[0].temp_min}} <br>
{{dailyWeatherArr[0].timezone}} <br>
{{dailyWeatherArr[0].weatherMain}} <br>
{{dailyWeatherArr[0].windDeg}} <br>
{{dailyWeatherArr[0].windSpeed}} <br>
</h1>