<div *ngIf="dailyWeatherArr" class="row">
  <div class="col-12 mt-3">
    <h2>Current weather forecast</h2>
  </div>
  <div *ngFor="let item of dailyWeatherArr" class="col-2">
    <p-card>
      <div class="col-12"> <i> <b>{{item.timezone}}:00 hr</b> <br>{{item.dt}}</i> </div>
      <div class="col-12"><img src="https://openweathermap.org/img/w/{{item.icon}}.png" width="60" alt="">
      </div>
      <div class="col-12"> <b>Temp </b> {{item.temp}}&deg;F</div>
      <div class="col-12"> <b>Wind </b> {{item.windSpeed}} m/h</div>
      <div class="col-12"> <b>Wind Dir: </b> {{item.windDeg.toFixed(0)}}&deg;</div>
      <div class="col-12"> <b>Humidity </b>  {{item.humidity}}%</div>
    </p-card>
  </div>
</div>

<div *ngIf="fiveDaysWeather" class="row">
  <div class="col-12 mt-5">
    <h2>Five-day weather forecast</h2>
  </div>
  <div *ngFor="let item of fiveDaysWeather" class="col-2">
    <p-card>
      <div class="col-12"> <i> <b>{{item.timezone}}:00 hr</b> <br>{{item.dt}}</i> </div>
      <div class="col-12"><img src="https://openweathermap.org/img/w/{{item.icon}}.png" width="60" alt="">
      </div>
      <div class="col-12"> <b>Temp </b> {{item.temp}}&deg;F</div>
      <div class="col-12"> <b>Wind </b> {{item.windSpeed}} m/h</div>
      <div class="col-12"> <b>Humidity </b> {{item.humidity}}%</div>
    </p-card>
  </div>
</div>